<!-- GAMES -->
<ng-container *ngIf="trendingGames$ | async as games">
  <app-carousel-section
    category="Games"
    label="Trending"
    [items]="games"
    (itemClick)="openFromCarousel('GAME', $event.item, $event.index)">
  </app-carousel-section>
</ng-container>

<!-- MOVIES -->
<ng-container *ngIf="trendingMovies$ | async as movies">
  <app-carousel-section
    category="Movies"
    label="Most Popular"
    [items]="movies"
    (itemClick)="openFromCarousel('MOVIE', $event.item, $event.index)">
  </app-carousel-section>
</ng-container>

<!-- SERIES -->
<ng-container *ngIf="trendingSeries$ | async as series">
  <app-carousel-section
    category="Series"
    label="New Releases"
    [items]="series"
    (itemClick)="openFromCarousel('SERIES', $event.item, $event.index)">
  </app-carousel-section>
</ng-container>

<app-overlay-details
  [open]="modalOpen"
  [content]="selectedContent"
  (closed)="modalOpen = false"
  (prev)="goPrev()"
  (next)="goNext()"
  (submitReview)="sendReview($event)">
</app-overlay-details>

