<div class="games-page">
  <header class="games-header">
    <div class="games-title-wrapper">

      <svg
        class="games-title-svg"
        viewBox="0 0 600 160"
        width="600"
        height="160"
      >
        <defs>

          <linearGradient
            id="rgbGradient"
            x1="0"
            y1="0"
            x2="300"
            y2="0"
            gradientUnits="userSpaceOnUse"
            spreadMethod="repeat"
          >
            <stop offset="0%"   stop-color="#0b0f1a"/>
            <stop offset="14%"  stop-color="#2a1f4f"/>
            <stop offset="28%"  stop-color="#7c5cff"/>
            <stop offset="42%"  stop-color="#00c853"/>
            <stop offset="56%"  stop-color="#7c5cff"/>
            <stop offset="70%"  stop-color="#3a2a78"/>
            <stop offset="84%"  stop-color="#1a1333"/>
            <stop offset="100%" stop-color="#0b0f1a"/>


            <animateTransform
              attributeName="gradientTransform"
              type="translate"
              from="0 0"
              to="300 0"
              dur="10s"
              repeatCount="indefinite"
            />
          </linearGradient>

          <filter id="contactShadow" x="-20%" y="-20%" width="140%" height="140%">
            <feOffset dx="0" dy="4" result="off"/>
            <feGaussianBlur in="off" stdDeviation="2" result="blur"/>
            <feColorMatrix
              in="blur"
              type="matrix"
              values="
                0 0 0 0 0
                0 0 0 0 0
                0 0 0 0 0
                0 0 0 0.45 0"/>
            <feMerge>
              <feMergeNode/>
              <feMergeNode in="SourceGraphic"/>
            </feMerge>
          </filter>

          <filter id="groundShadow" x="-50%" y="0%" width="200%" height="300%">
            <feOffset dx="0" dy="28"/>
            <feGaussianBlur stdDeviation="10"/>
            <feColorMatrix
              type="matrix"
              values="
                0 0 0 0 0
                0 0 0 0 0
                0 0 0 0 0
                0 0 0 0.35 0"/>
          </filter>
        </defs>

        <g filter="url(#groundShadow)">
          <text x="0" y="120" class="extrude e5" fill="#1e3a5f">GAMES</text>
          <text x="0" y="120" class="extrude e4" fill="#1e3a5f">GAMES</text>
          <text x="0" y="120" class="extrude e3" fill="#1e3a5f">GAMES</text>
          <text x="0" y="120" class="extrude e2" fill="#1e3a5f">GAMES</text>
          <text x="0" y="120" class="extrude e1" fill="#1e3a5f">GAMES</text>
        </g>

        <g>
          <text
            x="0"
            y="120"
            class="games-title-text"
            fill="url(#rgbGradient)"
            filter="url(#contactShadow)">
            GAMES
          </text>
        </g>

      </svg>

      <p class="games-subtitle">
        Cerca la tua prossima AVVENTURA!
      </p>

    </div>
  </header>

  <ng-container *ngIf="games$ | async as g">
    <app-games-section title="New Releases" [games]="g.newReleases"  seeAllPath="/games/new-releases"></app-games-section>
    <app-games-section title="Upcoming Games" [games]="g.upcoming" seeAllPath="/games/upcoming"></app-games-section>
    <app-games-section title="Best Games" [games]="g.best" seeAllPath="/games/best-games"></app-games-section>
  </ng-container>




</div>
