<div class="serie-page">
  <header class="serie-header">
    <div class="serie-title-wrapper">

      <svg
        class="serie-title-svg"
        viewBox="0 0 600 160"
        width="600"
        height="160"
      >
        <defs>

          <linearGradient
            id="rgbGradient"
            x1="0"
            y1="0"
            x2="300"
            y2="0"
            gradientUnits="userSpaceOnUse"
            spreadMethod="repeat"
          >
            <stop offset="0%" stop-color="#ff004c"/>
            <stop offset="14%" stop-color="#ff7a00"/>
            <stop offset="28%" stop-color="#ffe600"/>
            <stop offset="42%" stop-color="#00ff9c"/>
            <stop offset="56%" stop-color="#00c8ff"/>
            <stop offset="70%" stop-color="#4f6dff"/>
            <stop offset="84%" stop-color="#8b00ff"/>
            <stop offset="100%" stop-color="#ff004c"/>


            <animateTransform
              attributeName="gradientTransform"
              type="translate"
              from="0 0"
              to="300 0"
              dur="10s"
              repeatCount="indefinite"
            />
          </linearGradient>

          <filter id="contactShadow" x="-20%" y="-20%" width="140%" height="140%">
            <feOffset dx="0" dy="4"/>
            <feGaussianBlur stdDeviation="2"/>
            <feColorMatrix
              type="matrix"
              values="
                0 0 0 0 0
                0 0 0 0 0
                0 0 0 0 0
                0 0 0 0.45 0"/>
            <feMerge>
              <feMergeNode/>
              <feMergeNode in="SourceGraphic"/>
            </feMerge>
          </filter>

          <filter id="groundShadow" x="-50%" y="0%" width="200%" height="300%">
            <feOffset dx="0" dy="28"/>
            <feGaussianBlur stdDeviation="10"/>
            <feColorMatrix
              type="matrix"
              values="
                0 0 0 0 0
                0 0 0 0 0
                0 0 0 0 0
                0 0 0 0.35 0"/>
          </filter>

        </defs>

        <g filter="url(#groundShadow)">
          <text x="0" y="120" class="extrude e5" fill="#1e3a5f">SERIES</text>
          <text x="0" y="120" class="extrude e4" fill="#1e3a5f">SERIES</text>
          <text x="0" y="120" class="extrude e3" fill="#1e3a5f">SERIES</text>
          <text x="0" y="120" class="extrude e2" fill="#1e3a5f">SERIES</text>
          <text x="0" y="120" class="extrude e1" fill="#1e3a5f">SERIES</text>
        </g>

        <g>
          <text
            x="0"
            y="120"
            class="serie-title-text"
            fill="url(#rgbGradient)"
            filter="url(#contactShadow)"
          >
            SERIES
          </text>
        </g>

      </svg>

      <p class="serie-subtitle">
        Scopri le serie-tv più apprezzate del momento
      </p>

    </div>
  </header>

  <ng-container *ngIf="series$ | async as s">
    <app-serie-section title="New Releases" [series]="s.newReleases"></app-serie-section>
    <app-serie-section title="Upcoming" [series]="s.upcoming"></app-serie-section>
    <app-serie-section title="Best Series" [series]="s.best"></app-serie-section>
  </ng-container>



</div>
