<div class="game-card">

  <img
    class="poster"
    [src]="game.imageLink || '/placeholder.png'"
    alt="{{ game.titolo }}"
  />

  <div class="info">
    <div class="title">{{ game.titolo }}</div>

    <div class="meta">

      <!-- RELEASE DATE -->
      <ng-container *ngIf="mode === 'date'">
    <span class="release-date">
      {{ game.annoPubblicazione || 'TBA' }}
    </span>
      </ng-container>

      <!-- METASCORE -->
      <ng-container *ngIf="mode === 'score'">
    <span class="score" [ngClass]="scoreClass">
      {{ game.mediaVoti }}
    </span>
        <span class="label">
      {{ scoreLabel }}
    </span>
      </ng-container>

    </div>

  </div>

</div>
