<div class="game-card" (click)="openDetails()">

  <img
    class="poster"
    [src]="game.imageLink || 'assets/placeholders/game-placeholder.svg'"
    alt="{{ game.titolo }}"
  />

  <div class="card-body">
    <h3 class="title">{{ game.titolo }}</h3>

    <!-- UPCOMING -->
    <ng-container *ngIf="variant === 'upcoming'">
      <span class="badge-coming">COMING SOON</span>
      <p class="release-date">
        Release: {{ game.annoPubblicazione || 'TBA' }}
      </p>
    </ng-container>

    <!-- DEFAULT (new releases / games) -->
    <ng-container *ngIf="variant === 'default'">

      <!-- RELEASE DATE -->
      <span *ngIf="mode === 'date'" class="release-date">
        {{ game.annoPubblicazione || 'TBA' }}
      </span>

      <!-- METASCORE -->
      <ng-container *ngIf="mode === 'score'">
  <span class="score" [ngClass]="scoreClass">
    {{ scoreValue ?? '-' }}
  </span>
        <span class="label">
    {{ scoreLabel }}
  </span>
      </ng-container>




    </ng-container>
    <span *ngIf="isGoty(game)" class="badge-coming">
  Game of the Year – {{ game.gotyYear }}
</span>



  </div>
</div>
