<div class="film-card" (click)="openDetails()">

  <img
    class="poster"
    [src]="film.imageLink || 'assets/placeholders/movie-placeholder.svg'"
    alt="{{ film.titolo }}"
  />

  <div class="card-body">
    <h3 class="title">{{ film.titolo }}</h3>

    <span *ngIf="mode === 'date'" class="release-date">
  {{ film.annoPubblicazione || 'TBA' }}
</span>

    <div class="meta">
      <ng-container *ngIf="mode === 'score'">
  <span class="score" [ngClass]="scoreClass">
    {{ scoreValue ?? '-' }}
  </span>
        <span class="label">
    {{ scoreLabel }}
  </span>
      </ng-container>
    </div>

    <ng-container *ngIf="variant === 'upcoming'">
      <span class="badge-coming">COMING SOON</span>
      <p class="release-date">
        Release: {{ film.annoPubblicazione || 'TBA' }}
      </p>
    </ng-container>
  </div>
</div>
