.games-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 50px;

  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.55),
    rgba(0,0,0,0.15),
    rgba(0,0,0,0)
  );
}

.games-subtitle {
  margin-top: 12px;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;

  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0 2px 10px rgba(0,0,0,0.6);
}



.games-title-img {
  font-size: 96px;
  font-weight: 900;
  letter-spacing: 6px;
  display: inline-block;

  background-image:
    linear-gradient(
      90deg,
      rgba(255, 204, 112, 0.9),
      rgba(255, 106, 136, 0.9),
      rgba(139, 92, 246, 0.9)
    );


  background-size: cover;
  background-position: center 30%;

  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.games-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

/* SFONDO SFUOCATO */
.games-page::before {
  content: '';
  position: absolute;
  inset: 0;

  background-image: url('/sfondo_games.png');
  background-size: 85%;
  background-position: center top;

  filter: blur(8px);
  transform: scale(1.05);

  z-index: -2;
}

/* OVERLAY SCURO */
.games-page::after {
  content: '';
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.35);
  z-index: -1;
}


