.game-card {
  width: 170px;
  height: 300px;
  background: #111;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s, box-shadow 0.2s;
}

.game-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}

/* IMMAGINE */
.game-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* CONTENUTO */
.game-info {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-info h3 {
  font-size: 13px;
  margin: 0 0 6px 0;
  line-height: 1.2;
  max-height: 34px;
  overflow: hidden;
}

/* RATING */
.rating {
  color: #f5c518;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 6px;
}

/* PIATTAFORME */
.platforms {
  font-size: 11px;
  color: #aaa;
}

.platforms span {
  margin-right: 6px;
}
